@charset "utf-8";
@import url("@/assets/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'NotoSansKR';
  font-weight: 400;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #1f1f1f;
}

body{
  -ms-overflow-style: none;
  }
 ::-webkit-scrollbar {
   display: none;
 }

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading-spinner {
  width: 150px;
  opacity: 0.8;
  justify-self: center;
  align-self: center;
}

.h1-cali {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  font-size: 4rem;
  color: #f8f8f8;
}